# ===============================
# Python
# ===============================

# Virtual environments
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# ===============================
# Database
# ===============================

# SQLite database
*.db

# ===============================
# Environment variables
# ===============================

.env

# ===============================
# VS Code
# ===============================

.vscode/

# ===============================
# OS files
# ===============================

.DS_Store
Thumbs.db
